@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family:  Manrope,sans-serif;
    }
  }
 
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  /* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(44, 44, 44) inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}
input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}

  body {
    background-color: #161616;
  }
